PORT=5000
MONGO_URI=mongodb://sreyamnambiar2005_db_user:<db_password>@ac-xb4ywp1-shard-00-00.5f2elpn.mongodb.net:27017,ac-xb4ywp1-shard-00-01.5f2elpn.mongodb.net:27017,ac-xb4ywp1-shard-00-02.5f2elpn.mongodb.net:27017/?ssl=true&replicaSet=atlas-7qe7ab-shard-0&authSource=admin&appName=Cluster0
CLIENT_ORIGIN=http://localhost:5173